.btn-outline-warning {
    color: #e08e25;
    background-color: transparent;
    background-image: none;
    border-color: #e08e25
}

.btn-outline-warning:hover {
    color: #ffff;
    background-color: #e08e25;
    border-color: #e08e25
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
    box-shadow: 0 0 0 .2rem rgba(224, 142, 37, 0.49)
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show>.btn-outline-warning.dropdown-toggle {
    color: #ffff;
    background-color: #e08e25;
    border-color: #e08e25
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(224, 142, 37, 0.49)
}




.btn-outline-primary {
    color: #85a5de;
    background-color: transparent;
    background-image: none;
    border-color: #85a5de;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #85a5de;
    border-color: #85a5de;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(133, 165, 222, 0.5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #f14e4e;
    border-color: #f14e4e;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #85a5de;
    border-color: #85a5de;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(133, 165, 222, 0.5)
}

